/08_04_Image_Filters.ipynb
/08_04_Image_Filters.py
/California_Coast.jpg
/filter_bw.jpg
/filter_pencil_sketch.jpg
/filter_sepia.jpg
/filter_vignette.jpg
/Flowers.jpg
/House.jpg
/Monument.jpg
/New_York.jpg
/Santorini.jpg
/visuals
/__pycache__